apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - keycloak.yaml

patches:
  - target:
      kind: Service
      name: keycloak
      namespace: ml-platform-system
      version: v1
    patch: |-
      - op: replace
        path: /spec/type
        value: NodePort
      - op: add
        path: /spec/ports/0/nodePort
        value: 32008  # Keycloak port